/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General styles */
* {
  box-sizing: border-box;
}

html {
  color: #be9e44;
  font-size: 16px;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  align-items: center;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-family: "Roboto Serif", sans-serif;
  font-size: 2.35rem;
  color: #be9e44;
}

h2 {
  font-family: "Roboto Serif", sans-serif;
  font-size: 1.85rem;
  padding: 2px 5px 0 5px;
  color: #cbb26a;
}

h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid #be9e44;
  padding-bottom: 18px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.35rem;
  color: #be9e44;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1.1rem;
  color: #e5d9b6;
}

span {
  font-weight: bold;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

/* Structural Styles */
header,
#work,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 80%;
  margin: 15px 0;
  max-width: 1200px;
}

#work p,
#about p {
  text-align: left;
}

/* ---------- HEADER ---------- */
header,
footer {
  background-color: #000000;
  width: 100%;
}

header {
  background: url("https://www.freecodecamp.org/news/content/images/size/w2000/2022/02/shutterstock_1610721214-min.jpg")
    no-repeat center fixed;
  background-size: cover;
}

header .content-wrapper {
  background: #1a1a1a;
}

/* Scroll to Top Button */

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollToTopHover {
  background-color: #777;
}

/* Nav Button */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar div {
  padding: 8px 8px 8px 30px;
  font-size: 24px;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 24px;
  cursor: pointer;
  background-color: #d8c690;
}

#main {
  transition: margin-left 0.5s;
}
/* Text Scroll */
.scrolling-text-container {
  width: 300px;
  overflow: hidden;
}

.scrolling-text {
  white-space: nowrap;
  animation: scroll 15s linear infinite;
  font-weight: bold;
  color: #d8c690;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ------- Intro Title ------- */

/* Intro Photo */
.i-photo {
  margin: 30px;
}

.i-photo img {
  border-radius: 50% !important;
  object-fit: cover;
  overflow: hidden;
}

#profile-image {
  width: 125px;
}

.home-title {
  padding-bottom: 30px;
}

/* ------------ Homepage ------------- */

/* About */
#about {
  background-color: #000000;
}

#about .content-wrapper {
  width: 70%;
}

#about-phote {
  border-radius: 15px;
}

#about img {
  border-radius: 50% !important;
  object-fit: cover;
  border: 5px solid #cbb26a;
  overflow: hidden;
  width: 245px;
}

.about-text span {
  font-size: 1.1em;
}
/* Skills */

#skills {
  background-color: #000;
}

.skills .content-wrapper {
  width: 100%;
  height: 500px;
  position: relative;
  padding: 5vh 0;
  user-select: none;
}

.cardbox {
  width: 100%;
  height: 50vh;
  margin: 10vh 0 0 0;
  min-height: 300px;
  padding: 25px 0;
  overflow: hidden;
}

.card {
  height: 100%;
  min-height: 180px;
  background: #000000;
  padding: 20px 30px;
  margin: 0 10px;
  border-radius: 5px;
}

.cardimg {
  position: relative;
  width: 14vh;
  height: 14vh;
  margin: 10px auto;
  display: block;
}

.cardimg img {
  height: auto;
}

.caption {
  position: relative;
  text-align: center;
  font-size: 1em;
}

.cardbox::before,
.cardbox::after {
  content: "";
  width: 10%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  filter: blur(40px);
}

.cardbox::before {
  left: 0;
}

.cardbox::after {
  right: 0;
}

.under-cardbox {
  animation: move 25s linear 2s infinite alternate;
  display: flex;
  flex-direction: row;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-2800px + 100%));
  }
}

/* Projects */
#work {
  background-color: #000000;
}

#work h4 {
  color: #be9e44;
  margin-bottom: -2px;
}

#work span {
  font-weight: 900;
  color: #e5d9b6;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.portfolio-piece {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}

.portfolio-piece figure {
  filter: drop-shadow(1px 2px 2px gray);
}

.portfolio-piece figure:hover {
  transform: scale(1.02);
}

.portfolio-piece figure img {
  border-radius: 5px;
  width: 100%;
}

.project-description {
  width: 90%;
}

/* Footer */
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkedin {
  width: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.github {
  width: 30%;
  padding-top: 15px;
  padding-bottom: 15px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b1622;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.heart {
  height: 15px;
  width: 15px;
  background-color: #f20044;
  position: relative;
  left: 135px;
  bottom: 40px;
  box-shadow: 10px 10px 90px #f20044;
  animation: animHeart 0.6s linear infinite;
}

@keyframes animHeart {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }

  80% {
    transform: rotate(-45deg) scale(1);
  }

  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart::before {
  content: "";
  position: absolute;
  right: 0.1px;
  height: 15px;
  width: 15px;
  background-color: #f20044;
  box-shadow: -10px 10px 90px #f20044;
  top: -50%;
  border-radius: 2000%;
}

.heart::after {
  content: "";
  position: absolute;
  box-shadow: 10px -10px 90px #f20044;
  height: 15px;
  width: 15px;
  background-color: #f20044;
  right: -50%;
  border-radius: 2000%;
}

.copyright {
  color: #d8c690;
  justify-content: center;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
